<div ng-app="credentials" ng-controller="credentialsController">
    <div class="container">
        <div>
            <h2 class="container">Account Settings</h2>
            <hr>
            <form name="emailForm" ng-submit="save('email')">
                <div class="col-sm-4">
                    <span>Change Email: </span>
                </div>
                <div class="col-sm-8">
                    <input name="email" style="display: inline;" placeholder="Email" type="text" ng-model="email" minlength="10" maxlength="100" required="required" ng-pattern="/^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/">
                    <input class="btn btn-primary pull-right" type="submit" value="Save" ng-disabled="emailForm.$invalid">
                </div>
            </form>
        </div>
        <div class="row"></div>
        <div>
            <form ng-submit="save('password')">
                <div class="col-sm-4">
                    <span>Change Password: </span>
                </div>
                <div class="col-sm-8">
                    <input placeholder="Password" type="text" ng-model="password">
                    <span></span>
                    <input placeholder="Confirm Password" type="text" ng-model="confirm_password">
                    <input ng-disabled="password_incorrect" class="btn btn-primary pull-right" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>