<div ng-app="homeReviewList" ng-controller="homeReviewListController">
    <div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in review_list">
                        <div class="container" ng-app="rbControllers" ng-controller="reviewController">
                            {{ review = item.review;"" }}
                            {{ rating = item.rating;"" }}
                            {{ topic_list = item.topic_list;"" }}

                            <div class="row">
                                <p ng-show="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">You</a></b> have reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b>.</p>
                                <p ng-hide="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">{{ review.added_by.first_name }}</a></b> has reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b></p>
                                <p>{{ review.caption }}</p>
                                <div class="row col-sm-7">
                                    <p style="word-wrap: break-word;" ng-bind-html="review.briefing"></p>
                                </div>
                                <!--<ul class="list-inline">-->
                                    <!--<li>-->
                                        <!--<p>Tags:-</p>-->
                                    <!--</li>-->
                                    <!--<li ng-repeat="item in topic_list">-->
                                        <!--<a href="/topic/{{ item }}">{{ item }}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <div class="row col-sm-7">
                                    <ul class="list-inline">
                                        <li ng-repeat="i in rating_range">
                                            <a ng-click="rating_click(i)">
                                                <span class="fa fa-star fa-6"></span>
                                            </a>
                                        </li><li ng-repeat="i in negative_rating_range">
                                            <a ng-click="rating_click(i)">
                                                <span class="fa fa-star-o fa-6"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <h6><small>{{ item.review.created|fromNowFilter }}</small></h6>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>