<div ng-app="home" ng-controller="homeController">
    <div class="row" ng-show="authentication_data.UserAuthenticated" ng-cloak>
        <div class="side-bar col-sm-1">
            <interest-list></interest-list>
            <subscription-list></subscription-list>
        </div>
        <div class="main-content col-sm-7">
            <div>
                <div class="row">
                    <home-review-list class="col-sm-12"></home-review-list>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="authentication_data.UserAuthenticated" ng-cloak>
        <div class="container">
            <div class="square">
                <div class="box">
                    <div class="brand">
                        <h1>ReviewBag</h1>
                    </div>
                </div>
                <div class="box">
                    <div class="centre">
                        <div class="row">
                            <h3>Sign up with <a class="btn btn-danger" href="/oauth/google">Google <span class="fa fa-google-plus-square"></a></h3>
                        </div>
                        <div class="row">
                            <h3>Sign in with <a class="btn btn-danger" href="/oauth/google">Google <span class="fa fa-google-plus-square"></span></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>