<div ng-app="interestList" ng-controller="interestListController">
    <div class="" style="width:250px;">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p data-toggle="collapse" data-parent="#accordion">Interest</p>
                </div>
                <div class="panel-collapse collapse in content">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in interest_list | orderBy">
                            <a ng-href="/topic/{{ item }}">{{ item }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        .fixed-height-container
        {
            height: 250px;
        }
        .content
        {
            height:225px;
            overflow:auto;
        }
    </style>
</div>