<div id="root" ng-app="newReview" ng-controller="newReviewController">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2" ng-cloak>
            <md-content>
                <h2>New Review</h2>
                <form name="newReviewForm" ng-submit="addReview()">
                    <md-chips ng-model="selected_topics" md-autocomplete-snap md-transform-chip="transformChip($chip)">
                        <!--md-require-match="ctrl.autocompleteDemoRequireMatch">-->
                        <md-autocomplete
                              md-selected-item="topic"
                              md-search-text="search_topic"
                              md-items="item in changed_topic(search_topic)"
                              md-item-text="item.text"
                              placeholder="Topic">
                            <span md-highlight-text="topic_search">{{ item.text }}</span>
                        <!--<span md-highlight-text="searchText">{{item.text}} :: {{item.type}}</span>-->
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <!--<strong>{{$chip}}</strong>-->
                                <strong>{{ $chip.text }}</strong>
                                <!--<em>({{$chip.type}})</em>-->
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <br>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Caption</label>
                        <input ng-model="caption" ng-required="true" name="caption" type="text">
                        <div class="hint" style="color: grey; font-size: 12px;">Message caption.</div>
                        <div ng-messages="newReviewForm.caption.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Enter your caption.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Briefing</label>
                        <!--<textarea ng-model="briefing" name="briefing" ng-required="true" md-select-on-focus></textarea>-->
                        <div id="froala-editor">
                            <p>{{ briefing }}</p>
                        </div>
                        <script type="text/javascript">
                            $('div#froala-editor')
                                .froalaEditor({
                                    placeholderText: 'Describe your view....'
                                })
                                .on('froalaEditor.initialized', function (e, editor) {
                                    editor.events.bindClick($('body'), 'button#get-text', function () {
                                        editor.html.set('');
                                        editor.events.focus();
                                    });
                                })
                                .focusout(function(){
                                    console.log($('div#froala-editor').froalaEditor('html.get'));
                                    var scope = angular.element($("div#root")).scope();
                                    scope.briefing = $('div#froala-editor').froalaEditor('html.get')
                                    console.log(scope.briefing);
                                    scope.$apply();
                                })
                        </script>
                        <div class="hint" style="color: grey; font-size: 12px;">Share your view.</div>
                        <div ng-messages="newReviewForm.briefing.$error">
                            <div ng-message="required'">Describe your idea.</div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="newReviewForm.$invalid">Add</md-button>
                </form>
            </md-content>
        </div>
    </div>
    <div>
        <!--<textarea id="froala-editor" ng-model="briefing" name="briefing" ng-required="true" md-select-on-focus></textarea>-->
        <!--<script type="text/javascript">-->
            <!--$('textarea#froala-editor')-->
                <!--.froalaEditor({-->
                    <!--placeholderText: 'Describe your view....'-->
                <!--})-->
                <!--.on('froalaEditor.initialized', function (e, editor) {-->
                    <!--editor.events.bindClick($('body'), 'button#get-text', function () {-->
                        <!--editor.html.set('');-->
                        <!--editor.events.focus();-->
                    <!--});-->
                <!--})-->
            <!--.froalaEditor()-->
        <!--</script>-->
        <!--<p>{{ briefing }}</p>-->
    </div>
</div>