<div ng-app="profile" ng-controller="profileController">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-2" ng-mouseover="mouse_over = true" ng-mouseleave="mouse_over = false">
                    <img ng-show="person_data.pic" class="img-thumbnail img-responsive" ng-src="{{ person_data.pic }}" width="100">
                    <img ng-hide="person_data.pic" class="img-thumbnail img-responsive" ng-src="http://127.0.0.1:8000/media/profile/default.png" width="100">
                    <p></p>
                    <form name="picForm" ng-show="mouse_over || (pic_editing && pic)">
                        <input class="btn btn-primary" ng-model="pic" ng-click="editing_pic()" type="button" ngf-select accept="image/*" value="Edit Photo">
                        <p></p>
                        <div layout="row" layout-align="start" flex>
                            <div class="col-sm">
                                <div ng-show="pic" ng-model="pic" ngf-drop ngf-pattern="image/*" class="cropArea">
                                    <img-crop image="pic  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="col-sm-offset-2" ng-show="pic">
                                    <img ng-src="{{ croppedDataUrl }}" />
                                    <p></p>
                                    <button class="btn btn-primary" ng-show="pic" ng-click="upload_pic(croppedDataUrl, pic.name)">Submit</button>
                                    <!--<mat-progress-spinner-->
                                        <!--class="example-margin"-->
                                        <!--color="primary"-->
                                        <!--mode="determinate"-->
                                        <!--value="progress">-->
                                    <!--</mat-progress-spinner>-->
                                </div>
                            </div>
                        </div>
                        <style>
                            .cropArea {
                                background: #E4E4E4;
                                overflow: hidden;
                                width:350px;
                                height:350px;
                            }
                            form .progress {
                                line-height: 15px;
                            }
                            .progress {
                                display: inline-block;
                                width: 100px;
                                border: 3px groove #CCC;
                            }
                            .progress div {
                                font-size: smaller;
                                background: orange;
                                width: 0;
                            }
                        </style>
                    </form>
                </div>
                <div class="person-name row col-sm-10">
                    <h2 style="display: inline;">{{ person_data.user.first_name }}</h2>
                    <input ng-show="primary_user" class="btn btn-primary pull-right" style="display: inline;" type="button" ng-click="change_credentials_click()" value="Account Settings">
                    <input ng-click="subscription_status_changed()" ng-show="subscription_status" class="btn btn-primary pull-right" style="display: inline;" type="button" value="Unsubscribe">
                    <input ng-click="subscription_status_changed()" ng-hide="primary_user || subscription_status" class="btn btn-primary pull-right" style="display: inline;" type="button" value="Subscribe">
                    <div ng-show="primary_user">
                        <h4 ng-hide="bio_editing" style="display: inline;">{{ person_data.bio }}</h4>
                        <input class="btn btn-primary" ng-hide="bio_editing" ng-click="edit_bio()" style="display: inline;" type="button" value="Edit">
                        <div>
                            <form>
                                <input ng-show="bio_editing" type="text" ng-model="person_data.bio" style="display: inline;">
                                <input class="btn btn-primary" ng-show="bio_editing" ng-click="finish_edit_bio()" style="display: inline;" type="submit" value="Update">
                            </form>
                        </div>
                    </div>
                    <div ng-hide="primary_user">
                        <h4 style="display: inline;">{{ person_data.bio }}</h4>
                    </div>
                    <div>
                        <h5>{{ observer_count }} Subscribers</h5>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h3 ng-show="primary_user">Your Stuff</h3>
                <h3 ng-hide="primary_user">{{ person_data.user.first_name }}'s reviews</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in review_list">
                        <div id="review_item" class="container" ng-app="rbControllers" ng-controller="reviewController" ng-click="review_detail_click($event)">
                            {{ review = item.review;"" }}
                            {{ rating = item.rating;"" }}
                            {{ topic_list = item.topic_list;"" }}
                            {{ comment_list = item.comment_list;"" }}
                            {{ username = user.username;"" }}

                            <div class="row">
                                <p ng-show="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">You</a></b> have reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b>.</p>
                                <p ng-hide="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">{{ review.added_by.first_name }}</a></b> has reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b></p>
                                <p>{{ review.caption }}</p>
                                <div class="row col-sm-9">
                                    <p ng-bind-html="review.briefing"></p>
                                </div>
                                <!--<ul class="list-inline">-->
                                    <!--<li>-->
                                        <!--<p>Tags:-</p>-->
                                    <!--</li>-->
                                    <!--<li ng-repeat="item in topic_list">-->
                                        <!--<a href="/topic/{{ item }}">{{ item }}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <div class="row col-sm-7">
                                    <ul class="list-inline">
                                        <li ng-repeat="i in rating_range">
                                            <a ng-click="rating_click(i)">
                                                <span class="fa fa-star fa-6"></span>
                                            </a>
                                        </li><li ng-repeat="i in negative_rating_range">
                                            <a ng-click="rating_click(i)">
                                                <span class="fa fa-star-o fa-6"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <h6><small>{{ item.review.created|fromNowFilter }}</small></h6>
                                </div>
                                <div class="comment row col-sm-12" ng-show="comment_list.length > 0">
                                    <div class="comment-header">
                                        <span><b>Comments</b></span>
                                    </div>
                                    <div class="comment-body">
                                        <ul  class="list-group" ng-if="comment_list.length >= 2">
                                            <li  class="list-group-item" ng-repeat="index in [0, 1]">
                                                <span>{{ comment_list[index].description }} - <a href="/profile/{{ comment_list[index].user.username }}">{{ comment_list[index].user.first_name }}</a> <h6 style="display: inline"><small>{{ comment_list[index].created | fromNowFilter }}</small></h6></span>
                                            </li>
                                        </ul>
                                        <ul class="list-group" ng-if="comment_list.length < 2">
                                            <li class="list-group-item" ng-repeat="comment in comment_list">
                                                <span>{{ comment.description }} - <a href="/profile/{{ comment.user.username }}" ng-show="comment.user.username==username">You</a><a href="/profile/{{ comment.user.username }}" ng-hide="comment.user.username==username">{{ comment.user.first_name }}</a> <h6 style="display: inline"><small>{{ comment.created | fromNowFilter }}</small></h6></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>