<div ng-app="subscriptionList" ng-controller="subscriptionListController">
    <div class="" style="width:250px;">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p data-toggle="collapse" data-parent="#accordion">Subscriptions</p>
                </div>
                <div class="panel-collapse collapse in content">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in subscription_list | orderBy: 'name'">
                            <a ng-href="/profile/{{ item.username }}">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        .fixed-height-container
        {
            height: 250px;
        }
        .content
        {
            height: 225px;
            overflow: hidden;
        }
        .content:hover
        {
            overflow: auto;
        }
    </style>
</div>