<div ng-app="topicReviewList" ng-controller="topicReviewListController">
    <div class="row">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-2">
                <div class="row">
                    <div class="container">
                        <div class="col-sm-2" ng-mouseover="mouse_over = true" ng-mouseleave="mouse_over = false">
                            <img ng-show="topic_data.pic" class="img-thumbnail img-responsive" ng-src="{{ topic_data.pic }}" width="100">
                            <img ng-hide="topic_data.pic" class="img-thumbnail img-responsive" ng-src="http://127.0.0.1:8000/media/profile/default.png" width="100">
                            <p></p>
                            <form name="picForm" ng-show="mouse_over || (pic_editing && pic)">
                                <input ng-model="pic" ng-click="editing_pic()" type="button" ngf-select accept="image/*" value="Edit Photo">
                                <p></p>
                                <div layout="row" layout-align="start" flex>
                                    <div class="col-sm">
                                        <div ng-show="pic" ng-model="pic" ngf-drop ngf-pattern="image/*" class="cropArea">
                                            <img-crop image="pic  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-offset-2" ng-show="pic">
                                            <img ng-src="{{ croppedDataUrl }}" />
                                            <p></p>
                                            <button ng-show="pic" ng-click="upload_pic(croppedDataUrl, pic.name)">Submit</button>
                                            <!--<mat-progress-spinner-->
                                                <!--class="example-margin"-->
                                                <!--color="primary"-->
                                                <!--mode="determinate"-->
                                                <!--value="progress">-->
                                            <!--</mat-progress-spinner>-->
                                        </div>
                                    </div>
                                </div>
                                <style>
                                    .cropArea {
                                        background: #E4E4E4;
                                        overflow: hidden;
                                        width:350px;
                                        height:350px;
                                    }
                                    form .progress {
                                        line-height: 15px;
                                    }
                                    .progress {
                                        display: inline-block;
                                        width: 100px;
                                        border: 3px groove #CCC;
                                    }
                                    .progress div {
                                        font-size: smaller;
                                        background: orange;
                                        width: 0;
                                    }
                                </style>
                            </form>
                        </div>
                        <div class="row">
                            <div class="row col-sm-5">
                                <div class="row">
                                    <h2 style="display: inline;">{{ topic_selected }}</h2>
                                    <h6 style="display: inline;"> - {{ topic_data.added_by.first_name }}</h6>
                                </div>
                                <div class="row">
                                    <h5 style="display: inline;"><a href="/new-review/{{ topic_selected }}">Write a review on it?</a></h5>
                                    <h5 style="display: inline;"  ng-hide="interest_status"><input type="button" ng-click="interest_status_changed()" value="Follow"></h5>
                                    <h5 style="display: inline;"  ng-show="interest_status"><input type="button" ng-click="interest_status_changed()" value="UnFollow"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div>
                        <h4>Feed</h4>
                    </div>
                    <hr>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in review_list">
                                <div class="container" ng-app="rbControllers" ng-controller="reviewController">
                                    {{ review = item.review;"" }}
                                    {{ rating = item.rating;"" }}
                                    {{ topic_list = item.topic_list;"" }}

                                    <div class="row">
                                        <p ng-show="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">You</a></b> have reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b>.</p>
                                        <p ng-hide="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">{{ review.added_by.first_name }}</a></b> has reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b></p>
                                        <p>{{ review.caption }}</p>
                                        <div class="row col-sm-7">
                                            <p ng-bind-html="review.briefing"></p>
                                        </div>
                                        <!--<ul class="list-inline">-->
                                            <!--<li>-->
                                                <!--<p>Tags:-</p>-->
                                            <!--</li>-->
                                            <!--<li ng-repeat="item in topic_list">-->
                                                <!--<a href="/topic/{{ item }}">{{ item }}</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                        <div class="row col-sm-7">
                                            <ul class="list-inline">
                                                <li ng-repeat="i in rating_range">
                                                    <a ng-click="rating_click(i)">
                                                        <span class="fa fa-star fa-6"></span>
                                                    </a>
                                                </li><li ng-repeat="i in negative_rating_range">
                                                    <a ng-click="rating_click(i)">
                                                        <span class="fa fa-star-o fa-6"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <h6><small>{{ item.review.created|fromNowFilter }}</small></h6>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>About</h4>
                    <hr>
                    <div>
                        <p  ng-hide="description_editing">{{ topic_data.description }}</p>
                        <input ng-hide="description_editing" type="button" ng-click="start_editing()" value="Edit">
                        <div ng-show="description_editing">
                            <form>
                                <input type="text" ng-model="topic_data.description" placeholder="Add description....">
                                <input type="submit" ng-click="topic_save()" value="Update">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
