<div ng-app="topicReviewList" ng-controller="topicReviewListController">
    <div>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-2">
                <div class="container">
                    <h2 style="display: inline;">{{ topic_selected }}</h2>
                    <h6 style="display: inline;"> - {{ topic_data.added_by.first_name }}</h6>
                    <h5 style="display: inline;"><a href="/new-review">Write a review on it?</a></h5>
                </div>
                <div class="col-sm-9">
                    <div>
                        <h4>Feed</h4>
                    </div>
                    <hr>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in review_list">
                                <div class="container" ng-app="rbControllers" ng-controller="reviewController">
                                    {{ review = item.review;"" }}
                                    {{ rating = item.rating;"" }}
                                    {{ topic_list = item.topic_list;"" }}

                                    <div class="row">
                                        <p ng-show="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">You</a></b> have reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b>.</p>
                                        <p ng-hide="review.added_by.username==user.username"><b><a href="/profile/{{ review.added_by.username }}">{{ review.added_by.first_name }}</a></b> has reviewed on <b><a href="/topic/{{ topic_list[0] }}">{{ topic_list[0] }}</a></b></p>
                                        <p ng-bind-html="review.briefing"></p>
                                        <!--<ul class="list-inline">-->
                                            <!--<li>-->
                                                <!--<p>Tags:-</p>-->
                                            <!--</li>-->
                                            <!--<li ng-repeat="item in topic_list">-->
                                                <!--<a href="/topic/{{ item }}">{{ item }}</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                        <ul class="list-inline">
                                            <li ng-repeat="i in rating_range">
                                                <a ng-click="rating_click(i)">
                                                    <span class="fa fa-star fa-6"></span>
                                                </a>
                                            </li><li ng-repeat="i in negative_rating_range">
                                                <a ng-click="rating_click(i)">
                                                    <span class="fa fa-star-o fa-6"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <h6><small>{{ item.review.created|fromNowFilter }}</small></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>About</h4>
                    <hr>
                    <p ng-show="description">{{ topic_data.description }}</p>
                    <div ng-hide="description">
                        <div ng-hide="description_editing">
                            <input type="button" ng-click="start_editing()" value="Edit">
                        </div>
                        <div ng-show="description_editing">
                            <form>
                                <input type="text" ng-model="topic_data.description" placeholder="Add description....">
                                <input type="submit" ng-click="topic_save()" value="Update">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>