<div ng-app="trendingList" ng-controller="trendingListController">
    <div class="row">
        <div class="side-bar col-sm-1">
            <interest-list></interest-list>
            <subscription-list></subscription-list>
        </div>
        <div class="main-content col-sm-9">
            <div class="trending-topics col-sm-10">
                <h1>Trending Topics</h1>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in trending_topics">
                        <h4><a href="topic/{{ item[0] }}">{{ item[0] }}</a> <small>{{ item[1] }} reviews since a week ago.</small></h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>