<div ng-app="userAuthentication" ng-controller="userAuthenticationController">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="square">
                <div class="row">
                    <h1>ReviewBag</h1>
                </div>
                <div class="signup-signin">
                    <div class="row">
                        <h3>Sign up with <a class="btn btn-danger" href="/oauth/google">Google <span class="fa fa-google-plus-square"></a></h3>
                    </div>
                    <div class="row">
                        <h3>Sign in with <a class="btn btn-danger" href="/oauth/google">Google <span class="fa fa-google-plus-square"></span></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>